<div class="content">
  <div class="menu">
    <div class="logo">
      <img src="assets/images/icon_login.png" alt="Logo" />
    </div>

    <form [formGroup]="form">
      <div class="login-inputs">
        <mat-form-field appearance="outline" class="custom-input">
          <mat-icon matPrefix>person</mat-icon>
          <input
            matInput
            placeholder="Insira o seu login"
            formControlName="login"
          />
        </mat-form-field>        

        <mat-form-field appearance="outline" class="custom-input">
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Insira sua senha"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="actions">
        <button class="btn-entrar" type="submit" (click)="onSubmit()">Entrar</button>
        <span>Gerenciamento Ágil de Produtos</span>
      </div>
    </form>
  </div>
</div>
